<main class="main">
  <div>
    <h1>Demo: {{ title }}</h1>
    <h2>From main store:</h2>
    <p>signal: {{ name() }}</p>
    <p>computed?: {{ interrogativeName() }}</p>
    <p>computed!: {{ specialName() }}</p>
    <h2>from custom feature:</h2>
    <ul>
      @for(item of fullList();track item){
      <li>{{ item }}</li>
      }
    </ul>
  </div>

  <select
    name="select"
    [(ngModel)]="selectedName"
    (ngModelChange)="onSelectedNameChange()"
  >
    @for(person of peopleList();track person){
    <option value="{{ person }}">{{ person }}</option>
    }
  </select>
  <div class="grid">
    <button (click)="stamp()">stamp</button>
    <button (click)="addItem()">Add item</button>
    <button (click)="removeItem()">Remove item</button>
    <button (click)="getUpdatedList()">Get Store List</button>
  </div>
</main>
