/* You can add global styles to this file, and also import other style files */
@use "@picocss/pico/scss";

html,
body {
  width: 600px;
  margin: auto;
  padding: 50px 0;
  font-family: sans-serif;
}
